<div class="post-nav">
    <div class="logo">
        <h1>
          <a href="{{site.url}}">{{site.data.semester-info.text-logo}}</a>
        </h1>
    </div>
    <h2 id="logistics">Course Links</h2>    
    <ul>
        <li><a href="/{{page.collection}}">Course Home</a></li>
        <li><a href="{{this_course.discussion}}">Discussion Forum</a></li>
        <li><a href="{{this_course.github}}">Github Course Site</a></li>
        <li><a href="{{this_course.learning-objectives}}">Learning Objectives</a></li>
        <li><a href="/{{page.collection}}/syllabus.html">Syllabus</a></li>
    </ul>
</div>