{% assign tableFileParam = {{include.file}} %}
{% assign tableFile = site.data[tableFileParam] %}

<h2 id="catalog-description">Catalog Description</h2>

{{tableFile.catalog}}

<h2 id="logistics">Logistics</h2>

<ul>
  <li><strong>Instructor:</strong> {{tableFile.instructor}}</li>
  <li><strong>Email:</strong> {{tableFile.email}}</li>
  <li><a href="{{tableFile.textbook}}">Textbook</a></li>
</ul>

<h2 id="learning-objectives">Learning Objectives</h2>

<ul>
  <li><a href="{{tableFile.learning-objectives}}">Learning Objective Alignment Sheet</a></li>
</ul>

<h2 id="coursework">Coursework</h2>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% assign total = 0 %}
    {% for entry in tableFile.coursework %}
    <tr>
      <td>{{entry[0]}}</td>
      <td>{{entry[1]}}</td>
    </tr>
    {% assign total = total | plus: entry[1] %}
    {% endfor%}
    <tr style="background-color: black;"><td colspan=2></td></tr>
    <tr><td><strong>Total</strong></td><td>{{total}}</td></tr>
  </tbody>
</table>

<h2 id="final-grades">Grading</h2>

<p>
  Final grades will be assigned with the formula [Earned Points]/[Total Points]. For example if you
  earn 850 points out of a total of 1000 points offered your grade would be a B or %85.
  <strong>Grades will not be rounded</strong>, so if your final score is a 79.9% your grade will be
  a C+ according to the chart below. If you are on a grade boundary please see the <a
    href="#extra-credit-opportunities">extra credit</a> section below for opportunities to improve your grade.
</p>

<table>
  <thead>
    <tr>
      <th>Percentage</th>
      <th>Letter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>94% &lt; 100%</td>
      <td>A</td>
    </tr>
    <tr>
      <td>90% &lt; 94%</td>
      <td>A-</td>
    </tr>
    <tr>
      <td>87% &lt; 90%</td>
      <td>B+</td>
    </tr>
    <tr>
      <td>84% &lt; 87%</td>
      <td>B</td>
    </tr>
    <tr>
      <td>80% &lt; 84%</td>
      <td>B-</td>
    </tr>
    <tr>
      <td>77% &lt; 80%</td>
      <td>C+</td>
    </tr>
    <tr>
      <td>74% &lt; 77%</td>
      <td>C</td>
    </tr>
    <tr>
      <td>70% &lt; 74%</td>
      <td>C-</td>
    </tr>
    <tr>
      <td>67% &lt; 70%</td>
      <td>D+</td>
    </tr>
    <tr>
      <td>64% &lt; 67%</td>
      <td>D</td>
    </tr>
    <tr>
      <td>60% &lt; 64%</td>
      <td>D-</td>
    </tr>
    <tr>
      <td>0 &lt; 60%</td>
      <td>F</td>
    </tr>
  </tbody>
</table>

<h2 id="institutional-policies">Institutional Policies</h2>

<ul>
  <li>
    Please review the <a
      href="https://www.boisestate.edu/registrar/general-information-and-policies/academic-integrity/">
      academic-integrity</a> policy set by the university. Violations of this policy will result in the student
    receiving a failing grade (F) for the course.</li>
  <li>
    It is expected that all students <a
      href="https://www.boisestate.edu/policy/student-affairs/code-of-conduct/">read</a>
    and follow the University policy 2020. Any violation of University policy 2020 can result in the
    student being removed from the class discussion and study groups. The students participation score
    will be set to 0 and no alternative assignment will be given. Egregious behavior will be reported
    to the <a href="https://www.boisestate.edu/deanofstudents/student-conduct-report-form/">dean of students</a>
    for additional sanctions which can include receiving a failing grade (F) in the course.
  </li>
  <li>If you need help with accessibility you can visit the <a href="https://eac.boisestate.edu/">educational access
      center</a></li>
</ul>

<h2 id="computer-lab">Computer Lab </h2>

<p>
<a href="https://cs481.boisestate.edu/ccp-tour/index.html">The Kount Computer Tutoring Center (CCP
241)</a>: This lab is accessible 24/7 by proxy card access to all students enrolled in CS courses.
Machines in the Kount Computer Tutoring Center have all the software you will need this semester.
You can use the lab remotely via ssh (onyx.boisestate.edu) and use command line tools such as VIM.
</p>

<p>
If you want to work on your personal machine the following setup is recommended:
</p>
<ul>
  <li>OS - Linux </li>
  <li>Hardware - Minimum of 4GB of Ram (8GB preferred) and an i5 or equivalent processor</li>
</ul>

<h2 id="academic-honesty">Academic Honesty</h2>

<p>
  Programming assignments require the implementation of working programs using the language
  constructs and techniques introduced in class. Programs must execute and compile on the operating
  system and compiler specified.  Students are expected to work on their own unless explicitly
  instructed otherwise.  Students who allow their work to be copied will be written up along with
  the student who copied. Cheating is grounds for immediate failure of the course. This includes
  trying to find answers to problems, programs, and exams from the Internet or other sources and
  uploading your completed assignments to Internet sites that are publicly accessible.
</p>

<p>
  Boise State promotes Academic Excellence as a core Shared Value upholding the virtue of honesty in
  the pursuit of knowledge. Behaving with integrity and honesty is a hallmark of a Boise State
  University graduate. The conferring of a degree represents the University’s indication that the
  recipient has engaged in academic work that is representative of her/his own efforts and that was
  completed with integrity and honesty.
</p>
<p>
  Upholding academic integrity in all assignments provides students with the opportunity to engage
  with the material being investigated and assert their evidence based findings. This behavior
  demonstrates the commitment to learning and preparation necessary for a successful future. All
  work you submit must represent your own ideas and effort or be cited including any material you
  wrote for another course; when work does not, it is academic dishonesty. <strong>Academic
  dishonesty in any form may result in failure in the course or dismissal from the Program and/or
  the University.</strong> 
</p>


<h2 id="late-work-policy">Late Work Policy</h2>

<p>
  All assignments can be submitted up to <strong>3 days late without penalty</strong>, after 3 days
  past the due date absolutely no work will be accepted under any circumstances.  No work will be
  accepted after the <strong>last day of course instruction</strong>, the semester has to end at
  some point so plan accordingly.  Work submitted 1 second late is treated the same as work
  submitted 1 day late. You can find the last day of course instruction at
  the <a href="https://www.boisestate.edu/registrar/boise-state-academic-calendars/">registrar</a>.
</p>

<p>
  Plenty of extra credit is offered to offset any missed assignment(s).
</p>

<h2 id="email-policy">Email Policy</h2>

<p>
  BroncoMail is the official communication channel through which all university business is
  conducted. It is expected that you access and read university communications on a regular basis.
  For more information see the University Policy on Student Email Communications <a
  href="https://www.boisestate.edu/policy/student-affairs/policy-title-student-e-mail-communications/">(Policy
  2280).</a> <strong>Your instructor will not respond to any emails sent from personal accounts such
  as gmail or yahoo.</strong>
</p>

<p>
  Your instructor will make every effort to return emails within 48hrs Monday thru Friday between
  the hours of 9:00am and 5:00pm (MST). Emails sent on Saturday, Sunday, or outside of the defined
  hours will be returned within 48hrs on the following business day. Emails should be reserved for
  questions that are not appropriate for a public forum such as grades or other personal issues. If
  you don't receive a response from your instructor after 48hrs please check to make sure you are
  sending the email from BroncoMail and send a followup email.
  </p>

<h2 id="extra-credit-opportunities">Extra Credit Opportunities</h2>

Standing extra credit is always offered to allow students to bump their grade up if they are on a
grading boundary so please take advantage of any extra credit offered. Any extra credit given over
the semester can not exceed 2.5% of the total points offered. For example the maximum number of
extra credit points that you can earn if the total points offered is 1000 would be 25.

<h3 id="standing-extra-credit">Standing extra credit</h3>
<ul>
  <li>
    Typos and Bugs - If you find any typos or bugs in the course materials email me what you found.
     You can claim this extra credit as many times as you wish (up to the maximum number of points).
  </li>
  <li>
    At the end of the semester I will give the top five students who have the most discussion forum
    contributions 10 points. Contributions can be posting questions or answering other students
    questions.
  </li>
</ul>
