---
layout: default
---

<div class="post-nav">
    {% include header.html%}
    <h2 id="logistics">Course Links</h2>    
    <ul>
      {% if site.data.semester-info.textbook %}
      <li><a href="{{site.data.semester-info.textbook}}">Textbook</a></li>
      {% endif %}
      <li><a href="{{site.data.semester-info.discussion}}">Discussion Forum</a></li>
      <li><a href="{{site.data.semester-info.github}}">Github Course Site</a></li>
      <li><a href="{{site.data.semester-info.grades}}">Grades</a></li>
      <li><a href="{{site.data.semester-info.office-hours}}">Office Hours</a></li>  
    </ul>

    {% assign pgs = site.docs %}
    {% if pgs %}
        <h2>Documents</h2>
        <ul>
        {% for page in pgs %}
            {% if page.hide != true %}
               <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{site.data.semester-info.learning-objectives}}">Learning Objectives</a></li>
        </ul>
    {% endif%}



    <h2 id="Toc">Contents</h2>
    {% include toc.html html=content %}
</div>


<div id="main-content" class="post-content">
    <article>
        {% if page.layout == "reading-zybooks" %}
            <h1>{{site.data.semester-info.reading[page.slug]}}</h1>     
        {% else%}
            <h1>{%if page.title %}{{page.title}}{%else%}{{site.title}} - {{site.description}} [{{site.data.semester-info.semester}}]{% endif%}</h1>
        {% endif %}
        {% if page.video %}
        <h2>{{page.slug | truncate: 6, "" | capitalize }} {{page.slug | remove_first: "lesson"}} Video</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315"
                    src=https://www.youtube.com/embed/{{page.video}}
                    title="YouTubevideo player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            
            </iframe>
            </div>
        {% endif %}
        {% include anchor_headings.html html=content anchorBody="#" %}
    </article>
    {% include footer.html %}
</div>
