---
layout: default
---

{% assign this_course = site.data.semester-info[page.collection] %}

<div class="post-nav">
    <div class="logo">
        <h1>
          <a href="{{site.url}}">{{site.data.semester-info.text-logo}}</a>
        </h1>
    </div>
    <h2 id="logistics">Course Links</h2>    
    <ul>
        <li><a href="/{{page.collection}}">Course Home</a></li>
        {% if this_course.textbook %}
        <li><a href="{{this_course.textbook}}">Textbook</a></li>
        {% endif %}
        <li><a href="{{this_course.discussion}}">Discussion Forum</a></li>
        <li><a href="{{this_course.github}}">Github Course Site</a></li>
        <li><a href="{{this_course.learning-objectives}}">Learning Objectives</a></li>
        <li><a href="syllabus.html">Syllabus</a></li>
    </ul>
    <h2 id="Toc">Contents</h2>
    {% include toc.html html=content %}
</div>

<div class="post-content">
    <article>
        <h1>{{this_course.title}}</h1>
        {% include anchor_headings.html html=content anchorBody="#" %}
    </article>
    {% include footer.html %}
</div>
