---
layout: course
---
{% assign this_course = site.data.semester-info[page.collection] %}

<h1>{{this_course.title}}</h1>

<img src={{"/assets/images/"| append: page.collection | append: "/home_page.png"}} alt="Course Logo">
<div class="course-contents">    
    <section class="course-labs">  
        <h2>Projects</h2>
        <ul>
        {% for pg in site[page.collection] %}
            {% if pg.layout == "project" %}
                <li><a href="{{pg.url}}">{{pg.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section> 
    <section class="course-docs">  
        <h2>Docs</h2>
        <ul>
        {% for pg in site[page.collection] %}
            {% if pg.layout == "doc" or pg.layout == "syllabus" %}
                <li><a href="{{pg.url}}">{{pg.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
</div>
