---
layout: default
---

{% include course-nav.html %}

<div class="post-content">
    <article>
        {% include toc.html html=content %}
        <ul>
            <h2 id="accept-the-assignment">Task 0 - Accept the assignment</h2>
            <li>Get the <a href="{{site.data.semester-info.labs[page.slug]}}">Starter Code</a></li>
            <li>When you accept the assignment if you can't find your email in the list,
            contact your instructor ASAP to get the issue resolved.
            </li>
            <li>
                Once you accept the assignment it should show up in the class 
                <a href="{{site.data.semester-info.github}}">GitHub account</a>
            </li>
        </ul>
        <h2 id="Toc">Contents</h2>

        {{content}}
    </article>
    {% include footer.html %}
</div>






