---
layout: course
---

{{content}}

<h2 id="project-information">Project information</h2>

<p>This is a multistage project consisting of the following lessons:</p>

<ul>
{% for lesson in page.lessons %}
<li><a href="{{lesson}}.html">{{lesson}}</a></li>
{% endfor %}
</ul>

<p>
   Your code will be **randomly** spot checked at several points during this project. You are
   expected to have made progress each week. 10% of your grade will be based on completion of the
   checkpoints on time. <a href="https://en.wikipedia.org/wiki/Smoke_testing_(software)">smoke
   tested.</a> The spot checks are pass/fail, no partial credit will be given. 
</p>


