---
layout: course
---

{{content}}

<h2 id="project-information">Project information</h2>

<p>This is a multistage project consisting of the following lessons:</p>

<ul>
{% for lesson in site.lessons %}
{% if lesson.tag == page.tag %}
<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
{% endif %}
{% endfor %}
</ul>

<p>
   Your code will be <strong>randomly</strong> spot checked at several points during this project.
   You are expected to have made progress each week. 10% of your grade will be based on completion
   of the checkpoints on time. The spot checks are pass/fail, no partial credit will be given. 
</p>

<h2 id="github-classroom">Github Classroom</h2>

<p>
    All of your Lab work will be submitted through Github Classroom. You are responsible for
    ensuring all your code is properly pushed to Github! Any code not pushed to Github by the
    deadline will not be accepted under any circumstances. If you don't already have a
    <a href="https://github.com">GitHub</a> account you will need to create one.
</p>

<h3 id="accept-the-assignment">Accept the assignment</h3>

<ul>
    <li>Get the <a href="{{site.data.semester-info.labs[page.slug]}}">Starter Code</a></li>
    <li>When you accept the assignment it is critical that you select your student email
        address from the list. If you don’t select your student email address your instructor will not be
        able to grade your code. If you can’t find your email in the list, contact your instructor ASAP to
        get the issue resolved.
    </li>
    <li>
        Make sure and save the github URL so you can find your assignment later if needed!
    </li>
    <li>
        Once you accept the assignment it should show up in the class 
        <a href="{{site.data.semester-info.github}}">GitHub account</a>
    </li>
</ul>