---
layout: course
---

{{content}}

<h2 id="reading-assignment">Reading Assignment</h2>

<p>
    You need to log into the textbook with the link below and complete the assigned challenge and
    participation questions. After the due date has passed your instructor will download your
    completed activities and calculate your grade. There is nothing you need to explicitly turn in
    all your progress is saved automatically by the textbook.
</p>

<p>
    Your grade will be calculated with the formula: <strong>%complete * 20 = grade</strong>. For
    example, if you completed 80% of the assigned challenge and participation questions your grade 
    would be <strong>.8 * 20 = 16.</strong>
</p>

<ul>
    <li><a href="{{site.data.semester-info-cs2.textbook}}?selectedPanel=assignments-panel">{{site.data.semester-info.reading[page.slug]}}</a></li>
    <li><a href="https://zybooks.zendesk.com/hc/en-us/articles/360007538033-What-are-assignments-how-do-I-get-credit-for-them-and-how-do-I-submit-them-">Zybooks Help</a></li>
</ul>

